<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Order" >
    <id column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="commodityid" property="commodityid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <association property="user" javaType="com.ytc.model.User">
      <id column="userid" property="userid" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
      <result column="jurisdictionid" property="jurisdictionid" jdbcType="INTEGER" />
    </association>
    <association property="commodity" javaType="com.ytc.model.Commodity">
      <id column="commodityid" property="commodityid" jdbcType="INTEGER" />
      <result column="commodityname" property="commodityname" jdbcType="VARCHAR" />
      <result column="commoditytypeid" property="commoditytypeid" jdbcType="INTEGER" />
      <result column="commodityprice" property="commodityprice" jdbcType="INTEGER" />
      <result column="commodityshow" property="commodityshow" jdbcType="VARCHAR" />
      <result column="commodityimgid" property="commodityimgid" jdbcType="INTEGER" />
      <result column="commodityimgid1" property="commodityimgid1" jdbcType="INTEGER" />
      <result column="commodityimgid2" property="commodityimgid2" jdbcType="INTEGER" />
    </association>
  </resultMap>
</mapper>