<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytc.mapper.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.ytc.model.Commodity">
    <id column="commodityid" jdbcType="INTEGER" property="commodityid" />
    <result column="commodityname" jdbcType="VARCHAR" property="commodityname" />
    <result column="commoditytypeid" jdbcType="INTEGER" property="commoditytypeid" />
    <result column="commoditycount" jdbcType="INTEGER" property="commoditycount" />
    <result column="commodityprice" jdbcType="INTEGER" property="commodityprice" />
    <result column="commodityshow" jdbcType="VARCHAR" property="commodityshow" />
    <result column="commoditystatusid" jdbcType="INTEGER" property="commoditystatusid" />
    <result column="commodityimgid" jdbcType="INTEGER" property="commodityimgid" />
    <result column="commodityimgid1" jdbcType="INTEGER" property="commodityimgid1" />
    <result column="commodityimgid2" jdbcType="INTEGER" property="commodityimgid2" />
    <association property="type" javaType="com.ytc.model.Type">
      <id column="typeid" jdbcType="INTEGER" property="typeid" />
      <result column="typename" jdbcType="VARCHAR" property="typename" />
    </association>
    <association property="status" javaType="com.ytc.model.Status">
      <id column="statusid" jdbcType="INTEGER" property="statusid" />
      <result column="statusname" jdbcType="VARCHAR" property="statusname" />
    </association>
    <association property="picture" javaType="com.ytc.model.Picture">
      <id column="pictureid" jdbcType="INTEGER" property="pictureid" />
      <result column="pictureurl" jdbcType="VARCHAR" property="pictureurl" />
    </association>
    <association property="picture1" javaType="com.ytc.model.Picture1">
      <id column="pictureid1" property="pictureid1" jdbcType="INTEGER" />
      <result column="pictureurl1" property="pictureurl1" jdbcType="VARCHAR" />
    </association>
    <association property="picture2" javaType="com.ytc.model.Picture2">
      <id column="pictureid2" property="pictureid2" jdbcType="INTEGER" />
      <result column="pictureurl2" property="pictureurl2" jdbcType="VARCHAR" />
    </association>
  </resultMap>



</mapper>