<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytc.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ytc.model.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userpwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="jurisdictionid" jdbcType="INTEGER" property="jurisdictionid" />
    <result column="provinceid" jdbcType="INTEGER" property="provinceid" />
    <result column="cityid" jdbcType="INTEGER" property="cityid" />
    <result column="countyid" jdbcType="INTEGER" property="countyid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <association property="jurisdiction" javaType="com.ytc.model.Jurisdiction">
      <id column="jurisdictionid" jdbcType="INTEGER" property="jurisdictionid" />
      <result column="jurisdictionname" jdbcType="VARCHAR" property="jurisdictionname" />
    </association>
    <association property="province" javaType="com.ytc.model.Province">
    <id column="provinceid" jdbcType="INTEGER" property="provinceid" />
    <result column="provincename" jdbcType="VARCHAR" property="provincename" />
    <result column="cityid" jdbcType="INTEGER" property="cityid" />
    </association>
    <association property="city" javaType="com.ytc.model.City">
      <id column="cityid" jdbcType="INTEGER" property="cityid" />
      <result column="cityname" jdbcType="VARCHAR" property="cityname" />
      <result column="countyid" jdbcType="INTEGER" property="countyid" />
    </association>
    <association property="county" javaType="com.ytc.model.County">
      <id column="countyid" jdbcType="INTEGER" property="countyid" />
      <result column="countyname" jdbcType="VARCHAR" property="countyname" />
    </association>
  </resultMap>



</mapper>