<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Commodity" >
    <id column="commodityid" property="commodityid" jdbcType="INTEGER" />
    <result column="commodityname" property="commodityname" jdbcType="VARCHAR" />
    <result column="commoditytypeid" property="commoditytypeid" jdbcType="INTEGER" />
    <result column="commodityprice" property="commodityprice" jdbcType="INTEGER" />
    <result column="commodityshow" property="commodityshow" jdbcType="VARCHAR" />
    <result column="commodityimgid" property="commodityimgid" jdbcType="INTEGER" />
    <result column="commodityimgid1" property="commodityimgid1" jdbcType="INTEGER" />
    <result column="commodityimgid2" property="commodityimgid2" jdbcType="INTEGER" />
    <association property="type" javaType="com.ytc.model.Type">
      <id column="typeid" property="typeid" jdbcType="INTEGER" />
      <result column="typename" property="typename" jdbcType="VARCHAR" />
    </association>
    <association property="picture" javaType="com.ytc.model.Picture">
      <id column="pictureid" property="pictureid" jdbcType="INTEGER" />
      <result column="pictureurl" property="pictureurl" jdbcType="VARCHAR" />
    </association>
    <association property="picture1" javaType="com.ytc.model.Picture1">
      <id column="pictureid1" property="pictureid1" jdbcType="INTEGER" />
      <result column="pictureurl1" property="pictureurl1" jdbcType="VARCHAR" />
    </association>
    <association property="picture2" javaType="com.ytc.model.Picture2">
      <id column="pictureid2" property="pictureid2" jdbcType="INTEGER" />
      <result column="pictureurl2" property="pictureurl2" jdbcType="VARCHAR" />
    </association>
  </resultMap>

</mapper>